<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= websiteName %></title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css"  href="/demo-kuma/main.css" />
    <script defer src="https://analytics.eliasschneider.com/script.js" data-website-id="2186999d-bb84-4465-ad91-39ab36952144"></script>
</head>
<body>

<div id="app" v-cloak>
    <div class="main" >
        <div class="entry" v-if="showEntry">
            <img src="/demo-kuma/logo.svg" alt="<%= websiteName %>" class="logo" />
            <h2><%= websiteName %></h2>           
            <p class="mt-4">
                You can use this demo to try out <%= websiteName %> before installing it on your own server. <br>
                The demo will be available for 30 minutes and will be deleted afterwards.
            </p>
            <button class="btn btn-primary btn-big mt-3" @click="start" data-umami-event="Start Demo Button">Start Demo</button>
        </div>
     
        <div class="loading" v-if="loading">
            Preparing your demo, please wait...
        </div>

    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.4.2/vue.global.prod.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.bundle.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    const autoStart = <%- JSON.stringify(autoStart) %>;
    let entryPath = <%- JSON.stringify(entryPath) %>;
    let timer;

    const { createApp } = Vue;
    createApp({
        data() {
            return {
                loading: false,
                showEntry: false,            
            }
        },
        computed: {

        },
        async mounted() {
            const sessionSubDomain = window.location.host?.split(".")[0]
                this.entryAction();
        },
        methods: {
            entryAction() {
                if (autoStart) {
                    this.start();
                } else {
                    this.showEntry = true;
                }
            },

            async start() {
                this.showEntry = false;
                this.loading = true;

                try {
                    let res = await fetch("/demo-kuma/start-instance");
                    let obj = await res.json();

                    if (res.status === 200 && obj.ok) {
                        this.loading = false;                       

                       const {host, protocol} = window.location;
                       window.location.href = `${protocol}//demo-${obj.sessionID}.${host}/${entryPath}`;
                    } else {
                        this.loading = false;
                        alert(obj.error || "Error starting demo, please try again later.");
                        this.showEntry = true;
                    }
                } catch (e) {
                    this.loading = false;
                    alert("Error starting demo, please try again later.");
                    this.showEntry = true;
                }

            },                        
        }
    }).mount('#app');
</script>

</body>
</html>
